<div lang="en">
    <h3>Responsible controlling authority</h3>

    <div>
        <p>
            {{ auth_name_en }}<br />
            {{ auth_address }}<br />
            {{ auth_plz }}

            <hr />

            {{ auth_city_en }}<br />
            Website: <a href="{{ auth_url }}">{{ auth_url }}</a>
        </p>
    </div>
</div>
