<div lang="de">
    <h3>Zuständige Aufsichtsbehörde</h3>
    <div>
        <p>
            {{ auth_name }}<br />
            {{ auth_address }}<br />
            {{ auth_plz }} {{ auth_city }}<br />
            Webseite: <a href="{{ auth_url }}">{{ auth_url }}</a>
        </p>
    </div>
</div>