<div lang="en">
    <h3>Responsible controlling authority</h3>

    <div>
        <p>
            {{ authority_name }}<br />
            {{ authority_address }}<br />
            {{ authority_plz }} {{ authority_city }}<br />
            Website: <a href="{{ authority_url }}">{{ authority_url }}</a>
        </p>
    </div>
</div>
