<div lang="en">
    <h3>Responsible controlling authority</h3>

    <div>
        <p>
            {{ auth_name }}<br />
            {{ auth_address }}<br />
            {{ auth_plz }} {{ auth_city }}<br />
            Website: <a href="{{ auth_url }}">{{ auth_url }}</a>
        </p>
    </div>
</div>
