<div lang="de">
    <h3>Zuständige Aufsichtsbehörde</h3>
    <div>
        <p>
            {{ authority_name }}<br />
            {{ authority_address }}<br />
            {{ authority_plz }} {{ authority_city }}<br />
            Webseite: <a href="{{ authority_url }}">{{ authority_url }}</a>
        </p>
    </div>
</div>