<div lang="de">
    <h3>Zuständige Aufsichtsbehörde</h3>
    <div>
        <p>
            {{ auth_name_de }}<br />
            {{ auth_address }}<br />
            {{ auth_plz }}

            <hr />

            {{ auth_city_de }}<br />
            Webseite: <a href="{{ auth_url }}">{{ auth_url }}</a>
        </p>
    </div>
</div>