<h3>Zuständige Aufsichtsbehörde</h3>

    <p lang="de">
        {{ auth_name_de }}<br/>
        {{ auth_address }}<br/>
        {{ auth_plz }} {{ auth_city_de }}<br/>
        <div>Webseite: <a href="{{ auth_url }}">{{ auth_url }}</a></div>
    </p>
