<div lang="de">
	<h2>Name und Anschrift {{ security_official_title }}</h2>

	<div>
		<p>
			{{ security_official_title }}<br/>
			{{ security_official_name }}<br/>
			{{ security_official_add }}<br/>
			{{ security_official_address }}<br/>
			{{ security_official_plz }} {{ security_official_city }}<br/>
			Telefon: {{ security_official_phone }}<br/>
			{%  if security_official_fax %}
				Fax: {{ security_official_fax }}<br/>
			{% endif %}
			E-Mail: <a href="mailto:{{ security_official_email }}">{{ security_official_email }}</a>
		</p>
	</div>
</div>