<div lang="en">

	<details>
		<summary>
			{{ third_service_provider }}
		</summary>
		<div>
			<h2>Usage of {{ third_service_provider }}</h2>

			<div>
				<h3>Description and scope of data processing</h3>

				<div>
					<p>{{ third_descr_data_coll_en }}</p>
				</div>

				<h3>Legal basis for the processing of personal data</h3>

				<div>
					<p>{{ third_legal_basis_data_coll_en }}</p>
				</div>

				<h3>Objection and removal option</h3>

				<div>
					<p>{{  third_objection_data_coll_en }}</p>
				</div>
			</div>
		</div>
	</details>
</div>