<div lang="de">

	<details>
		<summary>
			{{ third_service_provider }}
		</summary>
		<div>
			<h2>Nutzung von {{ third_service_provider }}</h2>

			<div>
				<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

				<div>
					<p>{{ third_service_description_data_collection }}</p>
				</div>

				<h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>

				<div>
					<p>{{ third_service_legal_basis_data_collection }}</p>
				</div>

				<h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>

				<div>
					<p>{{  third_service_objection_data_collection }}</p>
				</div>
			</div>
		</div>
	</details>
</div>