<details>
	<summary>
		{{ third_service_provider }}
	</summary>
	<div>
		<h2>Nutzung von {{ third_service_provider }}</h2>

			<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

				<p>{{ third_descr_data_coll_de }}</p>

			<h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>

				<p>{{ third_legal_basis_data_coll_de }}</p>

			<h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>

				<p>{{  third_objection_data_coll_de }}</p>
	</div>
</details>