<div lang="en">

    <div>
        <p>
            Public authorities are obliged to make websites and mobile applications accessible in accordance with EU Directive 2016/2102 of the European Parliament and the Council.
            The following accessibility statement documents the implementation status of this website in accordance with the
            <a href="https://www.gesetze-bayern.de/Content/Document/BayBGG/true" target="_blank" rel="noopener noreferer">applicable legislation</a>.
        </p>
        <p>
            This accessibility statement applies to the following website(s):
            <strong>
                &nbsp;<a href="{{ wisski_url }}">{{ wisski_url }}</a>
            </strong>
        </p>
    </div>

    <h2>Compliance status</h2>

    <div>
        {% if status == 'Completely compliant' %}
            <div class="alert alert-secondary" aria-role="alert">
                <p>{{ status }}: The content is fully compliant with the accessibility standard without exceptions</p>
            </div>
        {% endif %}

        {% if status == 'Partially compliant' %}
            <div class="alert alert-warning" aria-role="alert">
                <p>{{ status }}: Some parts of the content are not fully compliant with the accessibility standard</p>
            </div>
        {% endif %}

        <p>
            <strong>Methodology:</strong>
            {{ methodology_en }}
        </p>

        <p>
            <strong>Date of Creation:</strong>
            {{ creation_date }}
        </p>

        <p>
            <strong>Last Revision:</strong>
            {{ last_revis_date }}
        </p>

        {% if report_url %}
            <p>
                <strong>Report:</strong>
                <a href="{{ report_url }}" target="_blank" rel="noopener noreferer">{{ report_url }}</a>
            </p>
        {% endif %}
    </div>

    <h2>Known accessibility issues</h2>

    <div>
        <p>
            Enumeration and explanation of problems with the implementation of accessibility standards with this application:
        </p>

        <h3>Content that has accessiblilty restrictions</h3>

        {% if known_issues_en %}
            <div>
                <p>
                    <ul>
                        {% for issue in issues_array_en %}
                            <li>{{ issue }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

            {% if statement_array_en %}
                <h3>Explanatory statement</h3>

                <div>
                    <p>
                        <ul>
                            {% for statement in statement_array_en %}
                                <li>{{ statement }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            {% endif %}


            {% if alternatives_en %}
                <h3>Alternative access methods</h3>

                <div>
                    <p>
                        <ul>
                            {% for alternative in alternatives_array_en %}
                            <li>{{ alternative }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            {% endif %}

        {% else %}
        <div>
            <p>
                All contents are accessible.
            </p>
        </div>
        {% endif %}

    </div>

    <h3>Help and contact in case of problems</h3>

    <div>
        <p>
            In case you encounter shortcomings in meeting accessibility requirements or information for which a barrier-free presentation is not mandatory, you may request a barrier-free version.
            To do so, please direct your queries to the following contacts.
        </p>

        <h4>Contact person</h4>

        <div>
            <p>
                <a href="{{ pub_inst_url }}">{{ pub_institute_en }}</a>
                <br />

                {{ pub_name }}<br />
                {{ pub_address }}<br />
                {{ pub_plz }}

                <hr />

                {{ pub_city_en }}<br />
                <a href="mailto:{{ pub_email }}">{{ pub_email }}</a>
            </p>

            <p>
                <a href="{{ sup_url }}">{{ sup_institute_en }}</a>
                <br />

                {{ sup_address }}<br />
                {{ sup_plz }}

                <hr />

                {{ sup_city_en }}<br />
                <a href="mailto:{{ sup_email }}">{{ sup_email }}</a>
            </p>
        </div>

    </div>

    <h2>Enforcement procedures</h2>

    <div>
        <p>
            If a request via the contacts mentioned herein remains without reply within six weeks, the supervisory authority shall examine, at the request of the user, whether additional measures are necessary.
        </p>

        <p>Contact information of the supervisory authority:</p>

        <p>
            <strong>{{ overs_name_en }}</strong>
            <br>{{ overs_dpt_en }}
        </p>

        <p>
            <div>{{ overs_address }}</div>
            <div>{{ overs_plz }} {{ overs_city_en }}</div>
        </p>

        <p>
            <div>Phone: {{ overs_phone }}</div>
            <div>E-Mail: <a href="mailto:{{ overs_email }}">{{ overs_email }}</a></div>
            <div>Website: <a href="{{ overs_url }}">{{ overs_url }}</a></div>
        </p>
    </div>

    <div>
        <p>
            Last updated on:
            {{ date }}
        </p>
    </div>
</div>