{{ attach_library('legalgen/legalpages_library') }}
<div lang="en">

    <div>
        <p>
            In accordance with EU Directive 2016/2102 of the European Parliament and the Council, public authorities are obliged to make websites and mobile applications accessible.
            The following accessibility statement documents the implementation status of this website in accordance with the
            <a href="https://www.gesetze-bayern.de/Content/Document/BayBGG/true" target="_blank" rel="noopener noreferer">applicable legislation</a>.
        </p>
        <p>
            This accessibility statement applies to content and applications available at:
            <strong>
                &nbsp;<a href="{{ wisski_url }}" target="_blank" rel="noopener noreferer">{{ wisski_url }}</a>
            </strong>
        </p>
    </div>

    <h2>Compliance status</h2>

    <div>
        {# Style for status info commented out in css #}
        {% if status == 'Completely compliant' %}
            <div class="accessibility__conformity-complete">
                <div>
                    <p>{{ status }}: The content is fully compliant with the accessibility standard without exceptions</p>
                </div>
            </div>
        {% endif %}

        {% if status == 'Partially compliant' %}
            <div class="accessibility__conformity-partial">
                <p>{{ status }}: Some parts of the content are not fully compliant with the accessibility standard</p>
            </div>
        {% endif %}


        <div class="rTableRow">
        <div class="rTableCell"><strong>Methodik der Prüfung:</strong></div>
        <div class="rTableCell">{{ methodology }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell"><strong>Erstellungsdatum:</strong></div>
        <div class="rTableCell">{{ creation_date }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell"><strong>Letzte Überprüfung:</strong></div>
        <div class="rTableCell">{{ last_revis_date }}</div>
        </div>

        {% if report_url %}
            <div class="rTableRow">
            <div class="rTableCell"><strong>Report:</strong></div>
             <div class="rTableCell"><a href="{{ report_url }}" target="_blank" rel="noopener noreferer">{{ report_url }}</a></div>
            </div>
        {% endif %}
    </div>

    <h2>Known accessibility issues</h2>

    <div>
        <p>
            Enumeration and explanation of problems with the implementation of accessibility standards with this application:
        </p>

        <h3>Content that has accessibility restrictions</h3>

        {% if status == 'Partially compliant' %}
            <div>
                <p>
                    <ul>
                        {% for issue in issues_array %}
                            <li>{{ issue }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

        <h3>Explanatory statement</h3>

            <div>
                <p>
                    <ul>
                        {% for statement in statement_array %}
                            <li>{{ statement }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

        <h3>Alternative access methods</h3>

            <div>
                <p>
                    <ul>
                        {% for alternative in alternatives_array %}
                        <li>{{ alternative }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

        {% else %}
        <div>
            <p>
                All contents are accessible.
            </p>
        </div>
        {% endif %}

    </div>

    <h3>Help and contact in case of problems</h3>

    <div>
        <p>
            If you encounter shortcomings in meeting accessibility requirements or information for which a barrier-free presentation is not mandatory, you may request a barrier-free version.
            To do so, please direct your queries to the following contacts.
        </p>

        <h4>Contact person</h4>

        <div>
            <p>
                {{ contact_access_name }}<br />
                Phone: {{ contact_access_phone }}<br />
                E-mail: <a href="mailto:{{ contact_access_email }}">{{ contact_access_email }}</a>
            </p>

            <hr />

            <p>
                <a href="{{ sup_url }}">{{ sup_institute }}</a>
                <br />

                {{ sup_address }}<br />
                {{ sup_plz }} {{ sup_city }}<br />
                E-mail: <a href="mailto:{{ sup_email }}">{{ sup_email }}</a>
            </p>
        </div>

    </div>

    <h2>Enforcement procedures</h2>

    <div>
        <p>
            If a request via the contacts mentioned herein remains without reply within six weeks, the supervisory authority shall examine, at the user´s request, whether additional measures are necessary.
        </p>

        <p>Contact information of the supervisory authority:</p>

        <p>
            <div><strong>{{ overs_name }}</strong><br />
            {{ overs_dept }}<br />
            {{ overs_address }}<br />
            {{ overs_plz }} {{ overs_city }}<br />
        </p>

        <p>
            Phone: {{ overs_phone }}<br />
            E-mail: <a href="mailto:{{ overs_email }}">{{ overs_email }}</a><br />
            Website: <a href="{{ overs_url }}">{{ overs_url }}</a><br />
            <br />
        </p>
    </div>

    <div>
        <p>
            Last updated on: {{ date }}
        </p>
    </div>
</div>