<p lang="en">
    Public authorities are obliged to make websites and mobile applications accessible in accordance with Directive (EU)
    2016/2102 of the European Parliament and the Council. The following accessibility statement documents the implementation
    status of this website in accordance with the &nbsp;<a href="http://gesetze-bayern.de/Content/Document/BayBGG/true">applicable
    legislation</a>.&nbsp;
</p>
<p>
    This accessibility statement belongs to the following website(s):
    <strong>&nbsp;<a href="{{ wisski_url }}">{{ wisski_url }}</a></strong></strong>
</p>


<h2>Compliance status</h2>


    {% if status == 'Completely compliant' %}
        <div class="alert alert-secondary" role="alert">
            <p lang="en">{{ status }}: The content is fully compliant with the accessibility standard without exceptions</p>
        </div>
    {% endif %}

    {% if status == 'Partially compliant' %}
        <div class="alert alert-warning>
            <p lang="en">{{ status }}: Some parts of the content are not fully compliant with the accessibility standard</p>
        </div>
    {% endif %}

    <p lang="en">
        <strong>Methodology:</strong> {{ methodology_en }}
    </p>
    <p lang="en">
        <strong>Date of Creation:</strong> {{ creation_date }}
    </p>
    <p lang="en">
        <strong>Last Revision:</strong> {{ last_revis_date }}
    </p>
    {% if report_url %}
        <p lang="en">
            <strong>Report:</strong> <a href="{{ report_url }}">{{ report_url }}</a>
        </p>
    {% endif %}
    <p lang="en">
        &nbsp;
    </p>


<h2>Known accessibility issues</h2>

    <p lang="en">
        Enumeration and explanation of problems with the implementation of accessibility standards with this application:
    </p>



<h3>Content that is not barrier-free</h3>
    {% if known_issues %}
        <p lang="en">
            <ul>
                {% for issue in issues_array_en %}
                    <li>{{ issue }}</li>
                {% endfor %}
            </ul>
        </p>

        {% if statement_array_de %}
            <h3>Explanatory statement</h3>
            <p lang="en">
                <ul>
                    {% for statement in statement_array_en %}
                        <li>{{ statement }}</li>
                    {% endfor %}
                </ul>
            </p>
    {% endif %}


    {% if alternatives_en %}
        <h3>Alternative access routes</h3>
            <p lang="en">
                <ul>
                    {% for alternative in alternatives_array_en %}
                        <li>{{ alternative }}</li>
                    {% endfor %}
                </ul>
    {% endif %}

{% else %}
        <p>
            All contents are accessible.
        </p>
    {% endif %}

<h3>Help and contact in case of problems</h3>

    <p lang="en">
        In case you encounter shortcomings in meeting accessibility requirements or information for which a barrier-free presentation
        is not mandatory, you may request a barrier-free version. To do so, please direct your queries to the following contacts.
    </p>

    <h4>Contact person</h4>

        <p lang="en">
            <a href="{{ pub_inst_url }}">{{ pub_institute_en }}</a> <br />
            {{ pub_name }}<br />
            {{ pub_address }}<br />
            {{ pub_plz }} - {{ pub_city_en }}<br />
            <a href="mailto:{{ pub_email }}">{{ pub_email }}</a><br />
        </p>
        <p lang="en">
            <a href="{{ sup_url }}">{{ sup_institute_en }} </a> <br />
            {{ sup_address }}<br />
            {{ sup_plz }} - {{ sup_city_en }}<br />
            <a href="mailto:{{ sup_email }}">{{ sup_email }}</a>
        </p>
        <p>&nbsp;</p>


<h2>Enforcement procedures</h2>
    <p lang="en">
        If a request via the contacts mentioned herein remains without reply within six weeks, the competent supervisory authority
        shall examine, at the request of the user, whether measures are necessary within the scope of monitoring vis-à-vis the
        obligated party.
    </p>

    <p lang="en">Contact information of the enforcement oversight body:</p>

    <p lang="en">
        <strong>{{ overs_name_en }}</strong>
        <br>{{ overs_dpt_en }}
    </p>
    <p lang="en">
        <div>{{ overs_address }}</div>
        <div>{{ overs_plz }} {{ overs_city_en }}</div>
    </p>
    <p lang="en">
        <div>Phone: {{ overs_phone }}</div>
        <div>E-Mail: <a href="mailto:{{ overs_email }}">{{ overs_email }}</a></div>
        <div>Website: <a href="{{ overs_url }}">{{ overs_url }}</a></div>
    </p>
<br/>
<br/>
<div>
    <p lang="de">
        Last updated on: {{ date }}
    </p>
</div>

