{{ attach_library('legalgen/legalpages_library') }}
<div lang="de">

    <div>
        <p>
            Der Anbieter dieses Webangebots ist bemüht, das Angebot im Einklang mit der&nbsp;<a href="http://gesetze-bayern.de/Content/Document/BayBGG/true" target="_blank" rel="noopener noreferer">gültigen Gesetzgebung</a>&nbsp;
            barrierefrei zugänglich zu machen.
        </p>

        <p>
            Diese Erklärung zur Barrierefreiheit gilt für Inhalte und Anwendungen verfügbar unter:
            <strong>
                &nbsp;<a href="{{ wisski_url }}">{{ wisski_url }}</a>
            </strong>
        </p>
    </div>


    <h2>Stand der Vereinbarkeit mit den Anforderungen ("Konformitätsstatus")</h2>

    <div>
        {% if status == 'Completely compliant' %}
            <div class="accessibility__conformity-complete">
                <p>Vollständig konform: Der Inhalt entspricht ohne Ausnahmen vollständig dem Standard für Barrierefreiheit</p>
            </div>
        {% endif %}

        {% if status == 'Partially compliant' %}
            <div class="accessibility__conformity-partial">
                <p>Teilweise konform: Einige Teile des Inhalts entsprechen nicht vollständig dem Standard für Barrierefreiheit</p>
            </div>
        {% endif %}

        <p>
            <strong>Methodik der Prüfung:</strong>
            {{ methodology }}
        </p>
        <p>
            <strong>Erstellungsdatum:</strong>
            {{ creation_date }}
        </p>

        <p>
            <strong>Letzte Überprüfung:</strong>
            {{ last_revis_date }}
        </p>

        <div class="rTableRow">
        <div class="rTableCell"><strong>Methodik der Prüfung:</strong></div>
        <div class="rTableCell">{{ methodology }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell"><strong>Erstellungsdatum:</strong></div>
        <div class="rTableCell">{{ creation_date }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell"><strong>Letzte Überprüfung:</strong></div>
        <div class="rTableCell">{{ last_revis_date }}</div>
        </div>



        {% if report_url %}
            <p>
                <strong>Bericht:</strong>
                <a href="{{ report_url }}" target="_blank" rel="noopener noreferer">{{ report_url }}</a>
            </p>
        {% endif %}
    </div>


    <h2>Bekannte Probleme bei der Barrierefreiheit</h2>

    <div>
        <p>
            Auflistung und Erläuterung der Probleme bei der Umsetzung der Barrierefreiheit dieses Webauftritts:
        </p>

        <h3>Nicht barrierefrei zugängliche Inhalte</h3>

        {% if status == 'Partially compliant' %}
    	    <div>
                <p>
                    <ul>
                        {% for issue in issues_array %}
                            <li>{{ issue }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

        <h3>Begründung</h3>

                <div>
                    <p>
                        <ul>
                            {% for statement in statement_array %}
                                <li>{{ statement }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>


                <h3>Alternative Zugangswege</h3>

                <div>
                    <p>
                        <ul>
                            {% for alternative in alternatives_array %}
                            <li>{{ alternative }}</li>
                            {% endfor %}
                        </ul>
                </div>

        {% else %}
        <div>
            <p>
                Alle Inhalte sind barrierefrei zugänglich.
            </p>
        </div>
        {% endif %}

    </div>

    <h3>Hilfe und Kontaktaufnahme bei Problemen</h3>

    <div>
        <p>
            Sie können Mängel bei der Einhaltung der Anforderungen an die Barrierefreiheit mitteilen oder Informationen, die nicht
            barrierefrei dargestellt werden müssen, barrierefrei anfordern.
        </p>


        <h4>Kontaktperson</h4>

        <div>
            <p>
                {{ contact_access_name }}<br />
                {{ contact_access_phone }}<br />
                E-Mail: <a href="mailto:{{ contact_access_email }}">{{ contact_access_email }}</a><br />
            </p>

            <hr />

            <p>
                <a href="{{ sup_url }}">{{ sup_institute }} </a>
                <br />

                {{ sup_address }}<br />
                {{ sup_plz }} {{ sup_city }}<br />
                E-Mail: <a href="mailto:{{ sup_email }}">{{ sup_email }}</a>
            </p>
        </div>


    <h2>Durchsetzungsverfahren</h2>

    <div>
        <p>
            Bleibt eine Anfrage über die Kontaktmöglichkeit innerhalb von sechs Wochen ganz oder teilweise unbeantwortet, prüft die zuständige Aufsichtsbehörde auf Antrag des Nutzers, ob im Rahmen der Überwachung gegenüber dem Verpflichteten Maßnahmen erforderlich sind.
        </p>

        <p>Kontaktinformation der für das Durchsetzungsverfahren zuständigen Aufsicht:</p>

        <p>
            <strong>{{ overs_name }}</strong><br />
            {{ overs_dept }}
            {{ overs_address }}<br />
            {{ overs_plz }} {{overs_city }}<br />
        </p>

        <p>
            Telefon: {{ overs_phone }}<br />
            E-Mail: <a href="mailto:{{ overs_email }}">{{ overs_email }}</a><br />
            Webseite: <a href="{{ overs_url }}">{{ overs_url }}</a><br />
            <br/>
        </p>
    </div>

    <div>
        <p>
            Stand: {{ date }}
        </p>
    </div>
</div>