<h3>Responsible controlling authority</h3>

    <p lang="en">
        {{ auth_name_en }}<br/>
        {{ auth_address }}<br/>
        {{ auth_plz }} {{ auth_city_en }}<br/>
        <div>Website: <a href="{{ auth_url }}">{{ auth_url }}</a></div>
    </p>
