<div lang="de">

    <h2>Herausgeber</h2>

    <div>
        <p>
            {{ pub_institute }}<br />
            {{ pub_name }}<br />
            {{ pub_address }} <br />
            {{ pub_plz }} {{ pub_city }}<br />
            E-Mail: <a href="mailto":{{ pub_email }}>{{ pub_email }}</a>
        </p>

        <br />

        <h3>Rechtsform und Vertretung</h3>
        {% if cust_legal_form == '' %}
            <div>
                <p>
                    Die <a href="https://www.fau.de">Friedrich-Alexander-Universität Erlangen-Nürnberg</a> (FAU) ist eine staatliche Einrichtung und daneben eine rechtsfähige Personalkörperschaft des öffentlichen
                    Rechts nach <a href="https://www.gesetze-bayern.de/Content/Document/BayHIG-4" target="_blank" rel="noopener noreferer">Art. 4 Abs. 1 Bayerisches Hochschulinnovationsgesetz</a>
                    (BayHIG). Sie wird gesetzlich vertreten durch den Präsidenten.
                </p>
                <p>
                    Die inhaltliche Bereitstellung dieser virtuellen Forschungsumgebung erfolgt durch: {{ pub_institute }}.
                </p>
            </div>
        {% else %}
            <div>
                <p>
                    {{ cust_legal_form }}
                </p>
            </div>
        {% endif %}

        <h3>Kontaktperson für den Inhalt</h3>

        <div>
            <p>
                Die inhaltliche Bereitstellung erfolgt durch:<br />
                {{ contact_name }}<br />
                Telefon: {{ contact_phone }}<br />
                E-Mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a><br />
            <br />
            </p>
        </div>

        <h3>Technische Umsetzung der virtuellen Forschungsumgebung {{ project_name }}</h3>

        <div>
            <p>
                Diese Anwendung basiert auf der virtuellen Forschungsumgebung „Wissenschaftliche KommunikationsInfrastruktur" (WissKI) (<a href="https://wiss-ki.eu/">https://wiss-ki.eu/</a>).
            </p>
            <br />
            <br />

            <h4>Betreuung und Hosting:</h4>

            <div>
                <p>
                    {{ sup_institute }}<br />
                    Webseite: <a href="{{ sup_url }}" target="_blank" rel="noopener noreferer">{{ sup_url  }}</a>
                    <br />
                    E-Mail: <a href="mailto:{{ sup_email }}">{{ sup_email }}</a>
                    <br />
                    <br />
                    Mitarbeitende: <ul>
                                        {% for staff in sup_staff_array %}
                                            <li>{{ staff }}</li>
                                        {% endfor %}
                                   </ul>
                </p>
            </div>
        </div>
    <br />
    <br />

        <div>
            {{ include("@legalgen/legalnotice-template/controlling-authority-template_de.html.twig") }}
        </div>


        <h3>Identifikationsnummern</h3>

        <p>Die Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz lautet: {{ id_vat }}<br />
        </p>
        <div class="rTableRow">
        <div class="rTableCell">Steuernummer:</div>
        <div class="rTableCell">{{ id_tax }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell">DUNS-Nummer:</div>
        <div class="rTableCell">{{ id_duns }}</div>
        </div>

        <div class="rTableRow">
        <div class="rTableCell">EORI-Nummer:</div>
        <div class="rTableCell">{{ id_eori }}</div>
        </div>

        </div>

        <div>
            {{ include('@legalgen/legalnotice-template/misuse-resources-template_de.html.twig') }}
        </div>

    </div>
    <br />

    <div>
    {# Collapsibles: Start #}
    <details>
    <summary>
        Nutzungsbedingungen
    </summary>
    <div>
        <h2>Nutzungsbedingungen</h2>

        <div>
            {% if no_default_txt %}

                {% if licence_title_meta %}
                    <p>

                    {% if licence_url_meta %}
                        <strong>Lizenzbedinungen für Metadaten:</strong><a href="{{ licence_url_meta }}">{{ licence_title_meta }}</a><br />
                    {% else %}
                        <strong>Lizenzbedinungen für Metadaten:</strong>{{ licence_title_meta }}<br />
                    {% endif %}
                    </p>

                {% endif %}

                {% if licence_title_imgs %}

                 <p>

                    {% if licence_url_imgs %}
                        <strong>Lizenzbedinungen für Abbilder:</strong><a href="{{ licence_url_imgs }}">{{ licence_title_imgs }}</a><br />
                    {% else %}
                        <strong>Lizenzbedinungen für Abbilder:</strong>{{ licence_title_imgs }}<br />
                    {% endif %}
                    </p>

                {% endif %}

                <p>
                    {{ cust_licence_txt }}
                </p>

                {% if use_fau_temp == true %}

                    <p>
                        Die Gestaltung dieser Internetseiten verwendet das <abbr title="Friedrich-Alexander-Universität Erlangen-Nürnberg">FAU</abbr> Corporate Design (mit Modifikationen).
                        Nähere Informationen, auch zu Nutzungsrechten, finden Sie auf der Projektwebseite.
                        Die Reproduktion und Nutzung, in Teilen oder im Ganzen, der Webseiten in elektronischer oder gedruckter Form sowie dere Publikation (einschließlich im Internet) bedürfen der vorherigen Genehmigung.<br />
                        Pressemitteilungen, Veröffntlichungen, Skripte und Informationen zu Vorlesung können unter Quellenangabe nachgedruckt und ausgewertet werden.
                    </p>

                {% endif %}

            {% else %}
                <p>
                    Sofern nicht anders angegeben, unterliegen alle Seiten dieser Anwendung dem Urheberrecht.
                    Dies gilt insbesondere für Texte, Bilder, Grafiken und Dateien, die Stil-, Ton-, Video- oder Animationsdaten enthalten.

                {% if use_fau_temp == true %}
                    Dies schließt auch das Design mit ein.
                </p>

                <p>
                    Die Gestaltung dieser Internetseiten verwendet das <abbr title="Friedrich-Alexander-Universität Erlangen-Nürnberg">FAU</abbr> Corporate Design (mit Modifikationen).
                    Nähere Informationen, auch zu Nutzungsrechten, finden Sie auf der Projektwebseite.
                    Die Reproduktion und Nutzung, in Teilen oder im Ganzen, der Webseiten in elektronischer oder gedruckter Form sowie dere Publikation (einschließlich im Internet) bedürfen der vorherigen Genehmigung.<br />
                    Pressemitteilungen, Veröffntlichungen, Skripte und Informationen zu Vorlesung können unter Quellenangabe nachgedruckt und ausgewertet werden.
                {% endif %}
                </p>

                {% if licence_title_meta %}
                    <p>

                    {% if licence_url_meta %}
                        <strong>Lizenzbedinungen für Metadaten:</strong><a href="{{ licence_url_meta }}">{{ licence_title_meta }}</a><br />
                    {% else %}
                        <strong>Lizenzbedinungen für Metadaten:</strong>{{ licence_title_meta }}<br />
                    {% endif %}
                    </p>

                {% endif %}

                {% if licence_title_imgs %}

                 <p>

                    {% if licence_url_imgs %}
                        <strong>Lizenzbedinungen für Abbilder:</strong><a href="{{ licence_url_imgs }}">{{ licence_title_imgs }}</a><br />
                    {% else %}
                        <strong>Lizenzbedinungen für Abbilder:</strong>{{ licence_title_imgs }}<br />
                    {% endif %}
                    </p>

                {% endif %}

                {% if cust_licence_txt %}
                    <p>
                        {{ cust_licence_txt }}
                    </p>
                {% endif %}

                    <p>
                        Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen.
                        Alle genannten Marken und Markenzeichen sind möglicherweise durch Dritte geschützt. Sie unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Markenrechts und den Schutzrechten der jeweiligen Eigentümer. Allein die bloße Nennung von Markenzeichen lässt nicht den Schluss zu, dass diese nicht durch Rechte Dritter geschützt sind.
                        Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen nähere Auskünfte, sofern diese Rechte nicht bereits durch entsprechende Hinweise im Webangebot kenntlich gemacht sind.
                    </p>

            {% endif %}
            <br />
            <p>
                Nicht urheberrechtlich geschützt sind nach <a href="http://www.gesetze-im-internet.de/urhg/__5.html">§ 5 Urheberrechtsgesetz</a> (<abbr title="Urheberrechtsgesetz">UrhG</abbr>):
            </p>

            <ul>
                <li>
                    Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen und
                </li>
                <li>
                    andere amtliche Werke, die im amtlichen Interesse zur allgemeinen Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass die Bestimmungen über Änderungsverbot und Quellenangabe in <a href="http://www.gesetze-im-internet.de/urhg/__62.html">§ 62 Abs. 1 bis 3</a> <abbr title="Urheberrechtsgesetz">UrhG</abbr> und <a href="http://www.gesetze-im-internet.de/urhg/__63.html">§ 63 Abs. 1 und 2</a> <abbr title="Urheberrechtsgesetz">UrhG</abbr> entsprechend anzuwenden sind.
                </li>
            </ul>

            <p>
                Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen Gebrauch im Rahmen des <a href="http://www.gesetze-im-internet.de/urhg/__53.html">§ 53</a> <abbr title="Urheberrechtsgesetz">UrhG</abbr> verwenden.
                Eine Vervielfältigung oder Verwendung dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet.
                Diese erteilen Auf Anfrage die für den Inhalt Verantwortlichen.
                Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein gestattet.
            </p>
        </div>
    </div>
    </details>

    <details>
    <summary>
        Haftungsausschluss
    </summary>
    <div>
        <h2>Haftungsausschluss</h2>
        <div>
            <p>
                Dieses Impressum gilt nur für Inhalte und Anwendungen verfügbar unter:<br /><a href="{{ wisski_url }}" title="{{ wisski_url }}"> {{ wisski_url }} </a>
            </p>

            <p>
                Für die Inhalte anderer nicht oben aufgezählter Angebote sind die jeweiligen Einrichtungen verantwortlich.
            </p>

            <p>
                Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet und geprüft.
                Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der bereit gestellten Informationen können wir allerdings nicht übernehmen.
                Ein Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht zustande.
            </p>

            <p>
                Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots entstehen.
                Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des <a href="http://www.gesetze-im-internet.de/bgb/__839.html" target="_blank" rel="noopener noreferer">§ 839 Bürgerliches Gesetzbuch </a> (Haftung bei Amtspflichtverletzung) einschlägig sind.
                Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet.<br />
                Als Diensteanbieter sind wir gemäß <a href="https://www.gesetze-im-internet.de/tmg/__7.html" target="_blank" rel="noopener noreferer">§ 7 Abs.1 Telemediengesetz</a> (<abbr title="Telemediengesetz">TMG</abbr>) für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
                Nach<a href="https://www.gesetze-im-internet.de/tmg/__8.html" target="_blank" rel="noopener noreferer"> § 8</a> bis <a href="https://www.gesetze-im-internet.de/tmg/__10.html" target="_blank" rel="noopener noreferer">10</a> <abbr title="Telemediengesetz">TMG</abbr> sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte  Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br />
                Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
                Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
                Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br />
                Der Betreiber behält es sich ausdrücklich vor, einzelne Webseiten, Web-Dienste oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
            </p>

            {% if cust_exclusion %}
            <p>
                {{ cust_exclusion }}
            </p>
            {% endif %}
        </div>
    </div>
    </details>


    {% if hide_disclaim == FALSE %}
    <details>
        <summary>
            Haftung für Links
        </summary>
        <div>
            <h2>Haftung für Links</h2>

            <div>
                {% if cust_disclaim %}
                    <p>
                        {{ cust_disclaim }}
                    </p>

                {% else %}

                    <p>
                        Der Betreiber ist nur für die eigenen Inhalte, die er zur Verfügung stellt, nach den einschlägigen Gesetzen verantwortlich.
                        Diese originären Inhalte sind von Links zu den Webseiten anderer Betreiber zu unterscheiden.<br />
                        Durch diese als "externe Links" gekennzeichneten Verweise ermöglicht der Betreiber dem Besucher den Zugang zu "fremden Inhalten".<br />
                        Für diese fremden Inhalte ist der Betreiber nicht verantwortlich, da er die Übermittlung der Daten weder veranlasst noch den Adressaten der übermittelten Informationen auswählt und die übermittelten Informationen auch nicht ausgewählt oder beeinflusst hat.
                        Deshalb kann er für diese fremden Inhalte auch keine Gewähr übernehmen.
                        Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.<br />
                        Auch eine automatische kurzzeitige Zwischenspeicherung dieser fremden Informationen erfolgt wegen der gewählten Aufruf- und Verlinkungsmethodik nicht.
                        Daher ergibt sich auch dadurch keine Verantwortlichkeit des Betreibers für diese fremden Inhalte.<br />
                        Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben die Autoren bzw. die Redaktion des Betreibers den fremden Inhalt jedoch daraufhin überprüft, ob durch ihn eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird.
                        Wenn der Betreiber feststellt oder von anderen darauf hingewiesen wird, dass ein konkretes Angebot, zu dem er einen Link bereitgestellt hat, eine zivil- oder strafrechtliche Verantwortlichkeit auslöst, wird er den Verweis auf dieses Angebot unverzüglich löschen, soweit ihm dies technisch möglich und zumutbar ist.
                        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.<br />
                        Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der jeweilige Anbieter der Seite, auf welche verwiesen wurde.
                    </p>

                {% endif %}
            </div>
        </div>
    </details>
     {% endif %}

    {# Collapsibles: End #}
    <br />
    <br />
    <div>
        <p>
            Stand:
            {{ date }}
        </p>
    </div>
</div>