{{ attach_library('legalgen/legalpages_library') }}

<div lang="en">
    <h2>Publisher</h2>

    <div>
        <p>
            {% if publisher_institution %}<br />
            {% if publisher_institute %}
            {{ publisher_institute }}<br />
            {% endif %}
            {{ publisher_name }}<br />
            {{ publisher_address }}<br />
            {{ publisher_plz }} {{ publisher_city }}<br />
            E-mail: <a href="mailto:{{ publisher_email }}">{{ publisher_email }}</a>
        </p>

        <br />

        <h3>Legal form and representation</h3>
        {% if custom_legal_form == '' %}
            <div>
                <p>
                    The <a href="https://www.fau.eu/">Friedrich-Alexander-Universität Erlangen-Nürnberg</a> (FAU) is a state institution and also a legal personality under public law according to Art. 4 Para. 1 BayHIG.
                    It is legally represented by the President.
                </p>
                <p>
                    The content of this virtual research environment is provided by: {{ publisher_institute }}.
                </p>
            </div>
        {% else %}
            <div>
                <p>
                    {{ custom_legal_form }}
                </p>
            </div>
        {% endif %}

        <h3>Contact person for the content</h3>

        <div>
            <p>
                Responsible for the content is:<br />
                {{ contact_name }}<br />
                Phone: {{ contact_phone }}<br />
                E-mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a><br />
            <br />
            </p>
        </div>


        <h3>Technical implementation of the virtual research environment {{ project_name }}</h3>

        <div>
            <p>
                This application is based on the virtual research environment 'Wissenschaftliche KommunikationsInfrastruktur' (WissKI, short for scientific communication infrastructure) (<a href="https://wiss-ki.eu/">https://wiss-ki.eu/</a>).
            </p>
            <br />
            <br />

            <h4>Support and hosting:</h4>

            <div>
                <p>
                    {{ support_institute }}<br />
                    Website: <a href="{{ support_url }}">{{ support_url  }}</a>
                    <br />
                    E-mail: <a href="mailto:{{ support_email }}">{{ support_email }}</a>
                    <br />
                    <br />
                    Staff: <ul>
                                {% for staff in support_staff_array %}
                                    <li>{{ staff }}</li>
                                {% endfor %}
                           </ul>
                </p>
            </div>
        </div>
    <br />
    <br />

        <div>
            {{ include('@legalgen/legalnotice-template/controlling-authority-template_en.html.twig') }}
        </div>

        <h3>Identification numbers</h3>

        <p class="vat">The VAT registration number pursuant to §27a Umsatzsteuergesetz is: {{ id_vat }}</p>
        <div class="divTableRow">
            <div class="divTableCell">Tax number:</div>
            <div class="divTableCell">{{ id_tax }}</div>
        </div>

        <div class="divTableRow">
            <div class="divTableCell">DUNS number:</div>
            <div class="divTableCell">{{ id_duns }}</div>
        </div>

        <div class="divTableRow">
            <div class="divTableCell">EORI number:</div>
            <div class="divTableCell">{{ id_eori }}</div>
        </div>

        <div>
            {# Style for status info commented out in css #}
            {{ include('@legalgen/legalnotice-template/misuse-resources-template_en.html.twig') }}
        </div>

    </div>
    <br />

    <div>
    {# Collapsibles: Start #}
    <details>
    <summary>
        Copyright
    </summary>
    <div>
        <h2>Copyright</h2>

        <div>
            {% if no_default_txt %}

                {% if licence_title %}
                    <p>

                    {% if licence_url %}
                        <strong>Licence terms:</strong> <a href="{{ licence_url }}">{{ licence_title }}</a><br />
                    {% else %}
                        <strong>Licence terms:</strong> {{ licence_title }}<br />
                    {% endif %}
                    </p>

                {% endif %}

                <p>
                    {{ custom_licence_txt }}
                </p>

                {% if uses_fau_design == true %}

                    <p>
                        This virtual research environment uses the official FAU design templates (with some modifications).
                        For usage rights and further information, please see the project website.<br />
                        Reproduction or use of the web pages or parts thereof in electronic or printed form and their publication (including on the Internet) is subject to prior consent.<br />
                        Press releases, publications, scripts and information on lectures may be reprinted and evaluated provided that the source is referened.
                    </p>

                {% endif %}

            {% else %}
                <p>
                    Unless specified otherwise, all pages of this application are protected by copyright.
                    This applies, in particular, to texts, images, charts, and files containing style, sound, video, or animation data.

                {% if uses_fau_design == true %}
                    And also includes the design.
                </p>

                <p>
                    This virtual research environment uses the official FAU design templates (with some modifications).
                    For usage rights and further information, please see the project website.<br />
                    Reproduction or use of the web pages or parts thereof in electronic or printed form and their publication (including on the Internet) is subject to prior consent.<br />
                    Press releases, publications, scripts and information on lectures may be reprinted and evaluated provided that the source is referened.
                {% endif %}
                </p>

                {% if licence_title %}
                    <p>

                    {% if licence_url %}
                        <strong>Licence terms:</strong> <a href="{{ licence_url }}">{{ licence_title }}</a><br />
                    {% else %}
                        <strong>Licence terms:</strong> {{ licence_title }}<br />
                    {% endif %}
                    </p>

                {% endif %}


                {% if custom_licence_txt %}

                    <p>
                        {{ custom_licence_txt }}
                    </p>

                {% endif %}

                    <p>
                        Furthermore, texts, images, graphics, and other files may, in whole or in part, be subject to the copyright of third parties.
                        All registered brands and trademarks mentioned are possibly protected by third parties. They are subject without restriction to the respective applicable trademark law and the property rights of their respective owners. The mere mention of trademarks does not indicate that they are not protected by third-party rights.
                        Those responsible for the content may provide you with more detailed information about the existence of possible third-party rights, provided these rights have not already been identified by corresponding references on the application.
                    </p>

            {% endif %}
            <br />
            <p>
                Not protected by copyright under <a href="https://www.gesetze-im-internet.de/englisch_urhg/englisch_urhg.html#p0018">§ 5 Act on Copyright and Related Rights</a> (UrhG) are:
            </p>

            <ul>
                <li>
                    Laws, legal ordinances, official decrees, and announcements, as well as decisions and officially drafted guidelines on decisions and
                </li>
                <li>
                    other official works published in the official interest for general information, with the restriction that the provisions on the prohibition of changes and the indication of sources in § 62 paragraphs 1 to 3 and § 63 paragraphs 1 and 2 UrhG are to be applied accordingly.
                </li>
            </ul>

            <p>
                As a private individual, you may use copyrighted material for private and other personal use within the framework of <a href="https://www.gesetze-im-internet.de/englisch_urhg/englisch_urhg.html#p0018">§ 53 UrhG</a>.
                Reproduction or use of these pages or parts thereof in other electronic or printed publications and their publication is only permitted with our consent.
                This consent is given upon request by those responsible for the content.
                The reprint and evaluation of press releases and speeches are generally permitted, provided the source is acknowledged.
            </p>
        </div>
    </div>
    </details>

    <details>
    <summary>
        Exclusions
    </summary>
    <div>
        <h2>Exclusion of liability</h2>

        <div>
            <p>
                This legal notice only applies to content and applications available at:<br /><a href="{{ wisski_url }}" title="{{ wisski_url }}"> {{ wisski_url }} </a>
            </p>

            <p>
                The respective institutions are responsible for the content of other services not listed above.
            </p>

            <p>
                The operator has compiled and verified all information provided with great care.
                However, we cannot assume liability or guarantee that the data is correct, complete, up-to-date, or constantly available at all times.
                A contractual relationship with the application´s users does not come into existence.

            </p>
            <p>
                We will not be liable for any damages arising from the usage of this application.
            </p>
            <p>
                This exclusion of liability does not apply insofar as the provisions of <a href="https://www.gesetze-im-internet.de/englisch_bgb/">§ 839 German Civil Code</a> (liability for breach of official duties) are applicable.
                We will not be liable for any damages arising from computer viruses or the installation and use of software when accessing or downloading data from this application.<br />
            </p>
            <p>
                Websites credited to an author reflect the opinions and insights of that author.<br />
                As a service provider, we are responsible for our content on these pages according to § 7 Abs.1 TMG.
                According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.<br />
                Obligations to remove or block the use of information under general law remain unaffected.
                However, any liability in this regard is contingent upon the moment we became aware of a concrete legal infringement.
                Upon notification of a violation, we will promptly remove the corresponding content.<br />
                The operator expressly reserves the right to change, amend, or delete individual web pages, services, or the entire application or to cease the publication temporarily or permanently without prior notice.
            </p>

            {% if custom_exclusion %}
            <p>
                {{ custom_exclusion }}
            </p>
            {% endif %}
        </div>
    </div>
    </details>

    {% if hide_disclaimer == FALSE %}
    <details>
        <summary>
            Disclaimer
        </summary>
        <div>
            <h2>Links and references (disclaimer)</h2>

            <div>
            {% if custom_disclaimer %}
                <p>
                    {{ custom_disclaimer }}
                </p>
            {% else %}
                <p>
                    The operator is only responsible for original content provided in accordance with the applicable laws.
                    This original content is to be distinguished from links to the websites of other operators.<br />
                    Through these references marked as ‘external links’, the operator enables visitors to access ‘third-party content’.<br />
                    The operator is not responsible for this third-party content as he neither initiates the data transmission nor chooses the recipient of the information.
                    Furthermore, the operator has not selected or influenced the information transmitted.
                    Hence, no liability is assumed for such third-party content.
                    The respective provider or operator of the linked pages is always responsible for the respective content.<br />
                    Due to the selected access and linking method, this third-party information is not automatically temporarily stored.
                    Therefore, the operator is not responsible for this third-party content.<br />
                    When links to such websites were first added, the authors or the operator´s editors reviewed the external content to ascertain whether it would possibly entail liability under civil or criminal law.
                    Should the operator become aware or be made aware by others that the content of a website linked from this virtual research environment could constitute a violation of civil or criminal law, the respective link will be immediately removed - given this is technically feasible and within reasonable expectation.
                    However, permanent monitoring of linked third-party content is not reasonable without concrete evidence of an infringement.<br />
                    Liability for illegal, inaccurate, or incomplete content and damages resulting from the use or non-use of the information provided by third parties shall lie exclusively with the respective operators of the linked sites.
                </p>
            {% endif %}
            </div>
        </div>
    </details>
    {% endif %}

    {# Collapsibles: End #}
    <br />
    <br />
    <div>
        <p>
            Last updated on:
            {{ date }}
        </p>
    </div>
</div>