{{ attach_library('legalgen/legalpages_library') }}

<div lang="en">

	{% if not_fau == FALSE %}
	<div>
		{{ include('@legalgen/privacy-template/privacy-fau-template_en.html.twig') }}
	</div>
	{% else %}
	<div>
		<p>
			{{ not_fau }}
		</p>
	</div>
	{% endif %}
	<div>
		{{ include('@legalgen/privacy-template/data-security-official-template_en.html.twig') }}
		<br />
	</div>

	{# Collapsibles: Start #}
	<details>
		<summary>
			General information on data processing
		</summary>
		<div>
			<h2>General information on data processing</h2>

			<div>
				<h3>Scope of the processing of personal data</h3>

				<div>
					<p>
						Generally, we only process our users' personal data to the extent necessary to provide services, content, and a functional virtual research environment.
						As a rule, personal data are only processed after the user has given their consent.
						An exception applies in those cases where obtaining prior consent is not feasible due to factual circumstances and the processing of the data is permitted by statutory provisions.
					</p>
				</div>

				<h3>Legal basis for the processing of personal data</h3>

				<div>
					<p>
						Art. 6 (1) (a) of the EU GDPR forms the legal basis for us to obtain the consent of a data subject for their personal data to be processed.<br />
						When processing personal data required for the performance of a contract in which the contractual party is the data subject, Art. 6 (1) (b) GDPR forms the legal basis. This also applies if data must be processed to carry out pre-contractual activities.<br />
						Art. 6 (1) (c) GDPR forms the legal basis if personal data must be processed to fulfill a legal obligation on the part of our organization.<br />
						Art. 6 (1) (d) GDPR forms the legal basis in the case that vital interests of the data subject or another natural person make the processing of personal data necessary.<br />
						If data processing is necessary to protect the legitimate interests of our organization or of a third party and if the interests, basic rights, and fundamental freedoms of the data subject do not outweigh the interests mentioned above, Art. 6 (1) (f) GDPR forms the legal basis for such data processing. Many of our duties and responsibilities arise from Art. 2 BayHSchG.
					</p>
				</div>

				<h3>Deletion of data and storage period</h3>

				<div>
					<p>
						We only store your personal data for as long as necessary to fulfill our legal obligations or the respective processing activity.
						As a rule, we keep personal data for ten years after it is created.
						A transfer to state archives remains unaffected.
						Storage beyond this time may occur if required by European or national legislators as stipulated in directives under Union legislation, laws, or other regulations to which the data controller is subject.
						Such data are also blocked or deleted if a storage period prescribed by one of the above-named rules expires unless further storage of the data is necessary for the conclusion or implementation of a contract.
					</p>
				</div>
			</div>
		</div>
	</details>

	{# Shelved until further notice
	<details>
		<summary>
			Bereitstellung des Webauftrittes und Erstellung von Logfiles
		</summary>
		<div>
			<h2>Bereitstellung des Webauftrittes und Erstellung von Logfiles</h2>

				<h3>Beschreibung und Umfang der Datenverarbeitung</h3>

					<p>
						Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom
						Computersystem des aufrufenden Rechners.<br />
						Folgende Daten werden hierbei erhoben:
					</p>

					<ul>
						<li>die Adresse (URL) der Webseite, von der aus die Datei angefordert wurde</li>
						<li>der Name der aufgerufenen Datei</li>
						<li>das Datum und die Uhrzeit der Anforderung</li>
						<li>die übertragene Datenmenge</li>
						<li>der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)</li>
						<li>die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten Betriebssystems</li>
						<li>die anonymisierte IP-Adresse des anfordernden Rechners.</li>
					</ul>

					<p>
						Die gespeicherten Daten werden ausschließlich zu technischen oder statistischen Zwecken benötigt; ein Abgleich
						mit anderen Datenbeständen oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt. Die Daten
						werden in den Logfiles unseres Systems gespeichert. Nicht hiervon betroffen sind die IP-Adressen des Nutzers
						oder andere Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen: Vor der Speicherung wird jeder
						Datensatz durch Veränderung der IP-Adresse anonymisiert. Eine Speicherung dieser Daten zusammen mit anderen
						personenbezogenen Daten des Nutzers findet nicht statt.
					</p>

					<h3>Rechtsgrundlage für die Datenverarbeitung</h3>

					<p>
						Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles
						ist §§ 14, 15 TMG, § 100 Abs. 1 TKG sowie Art. 4 BayDSG folgend aus den Aufgaben
						des Art. 11 BayEGovG und Art. 7 und 34 BayHO.
					</p>

					<h3>Zweck der Datenverarbeitung</h3>

					<p>
						Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung des Webauftrittes
						an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung
						gespeichert bleiben.<br />
						Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit des Webauftrittes sicherzustellen. Zudem dienen uns
						die Daten zur Optimierung des Webauftrittes und zur Sicherstellung der Sicherheit unserer informationstechnischen
						Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
					</p>

					<h3>Dauer der Speicherung</h3>

					<p>
						Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
						Im Falle der Erfassung der Daten zur Bereitstellung des Webauftrittes ist dies der Fall, wenn die jeweilige Sitzung
						beendet ist.<br />
						Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine
						darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder
						verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
					</p>

					<h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>

					<p>
						Die Erfassung der Daten zur Bereitstellung des Webauftrittes und die Speicherung der Daten in Logfiles ist für den
						Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
						Widerspruchsmöglichkeit.
					</p>
		</div>
	</details>
	#}

	<details>
		<summary>
			Cookies
		</summary>
			<div>
				<h2>Use of cookies</h2>

					<h3>Description and scope of data processing</h3>

						<p>
							Our virtual research environment uses cookies. Cookies are text files saved
							in the user's web browser or by the web browser on the user's computer system. A cookie can be stored
							in the user's operating system when accessing a website. This cookie contains a character string that
							allows the unique identification of the browser when the website is accessed again.
						</p>

						<p>
							We use cookies to make our virtual research environment more user-friendly. Some parts of our application require that the
							requesting browser can be identified even after changing pages.<br />
							During this process, the following data are stored in the cookies and transmitted:
						</p>

						<ul>
							<li>Log-in information (in the case of registered editors and authors)</li>
						</ul>

						<p>
							Technical measures are taken to pseudonymize the collected user data. Thus, the data can no longer be
							attributed to the user. All cookies are used for technical reasons and only in the situations
							described above. The data are not stored together with other personal data of the user.
						</p>
						<p>
							The cookies mentioned are necessary for the operation of the application and, therefore, cannot be
							deactivated. They will only be set in the situations specified above.<br />
							If individual pages of the virtual research environment contain procedures
							that require additional cookies that are not necessary for operational reasons, these will be
							mentioned separately. These procedures, if used, are listed in the following chapters of this
							data protection declaration.
						</p>


					<h3>Legal basis for data processing</h3>

						<p>
							The legal basis for the temporary storage of data and log files is §§ 14, 15 TMG, § 100 Abs. 1 TKG and <a href="https://www.gesetze-bayern.de/Content/Document/BayDSG-4">Art. 4 BayDSG</a>
							following the duties and responsibilities resulting from Art. 11 BayEGovG and <a href="https://www.gesetze-bayern.de/Content/Document/BayHO-7">Art. 7</a> and <a href="https://www.gesetze-bayern.de/Content/Document/BayHO-34">34 BayHO</a>.
						</p>

					<h3>Purpose of data processing</h3>

						<p>
							Analysis cookies are used to improve the quality of our virtual research environment and its content. Through these cookies, we learn how the application is used and, in this way, can
							continuously optimize our offer.
						</p>

					<h3>Storage period, options for filing an objection or requesting removal</h3>

						<p>
							As cookies are stored on the user's computer and are transmitted from it to our website, users have complete control
							over the use of cookies. You can disable or restrict the transmission of cookies by changing the cookie settings
							in your web browser{# or by clicking the cookie preferences link below #}. Cookies that are already stored can be
							deleted at any time. This can also be done automatically. If cookies are deactivated for our
							virtual research environment, it may be the case that not all of the application's features
							can be used in their entirety.
						</p>
						{# <p> MAKE CHANGES:LINK TO COOKIE PREFERENCES CORRECTLY
							<a href="#" class="cookie-preference">Cookie-Einstellungen</a></p> #}
			</div>
	<br />
	</details>

	{% if  third_service_provider %}
	<div>
		{{ include('@legalgen/privacy-template/service-provider-template_en.html.twig') }}
	</div>

	{% endif %}
	<div>
		{{ include('@legalgen/privacy-template/rights-data-subject-template_en.html.twig') }}
	</div>

	{# Collapsibles: End #}
	<br />
	<br />
	<div>
		<p>
			Last updated on:
			{{ date }}
		</p>
	</div>
</div>